<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Stocks</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet prefetch' href='https://code.getmdl.io/1.2.1/material.blue-red.min.css'>
{% load static %}
      <link rel="stylesheet" href="{% static "style.css" %}">

  
</head>

<body>
<!--   <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.6/css/highcharts.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/5.0.6/js/highstock.js"></script>

  <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <!-- Header -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title logo1-container">
        <!-- <div class="logo1">Logo</div> -->
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We can hide it in small screens with .mdl-layout--large-screen-only -->
      <!-- <nav class="mdl-navigation mdl-layout--"> -->

        <!-- Add -->
        <div class="wrapper">
<!--           <button id="demo-menu-lower-right2" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button> -->
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right2">
            <li class="mdl-menu__item">
              <!--               <i class="material-icons nl-icon">insert_chart</i>  -->
              Campaign
            </li>
            <li class="mdl-menu__item">
              <!--               <i class="material-icons nl-icon">person</i>  -->
              Account
            </li>
            <li class="mdl-menu__item">Publisher</li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <!-- Drawer -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
     HackerEarth Task
    </span>

    <nav class="mdl-navigation">
      <a href="/" class="mdl-navigation__link">Random Integers</a>
      <a href="/stocks" class="mdl-navigation__link">Stock Market</a>
      <a href="/system_info" class="mdl-navigation__link">CPU &amp; Memory Usage</a>
    </nav>
  </div>


  <main class="mdl-layout__content">
    <div class="page-content">

      <!-- TOP CONTAINER -->
      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
        </div>
      </div>


      <!-- BOTTOM CONTAINER -->
      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <div style="height: 500px;" class="mdl-shadow--2dp">
    <div id="container"></div>
              <script>

var stock_chart;

function requestDataStock() {
    $.ajax({
        url: '/stocks/get_stock_data',
        success: function(stock_data) {
            var aapl, intu, fb;
            aapl = stock_data["AAPL"];
            intu = stock_data["INTU"];
            fb = stock_data["FB"];
            if(aapl.length != 2){
            stock_chart.series[1].update({
            data: intu
        });
            stock_chart.series[2].update({
            data: fb
        });
            stock_chart.series[0].update({
            data: aapl
        });
        }
        else{ 
            stock_chart.series[0].addPoint(aapl, false, true)
            stock_chart.series[1].addPoint(intu, false, true)
            stock_chart.series[2].addPoint(fb, true, true)
        }
        stock_chart.hideLoading();
        setTimeout(requestDataStock, 60000)
        },
        cache: false
    });
}

document.addEventListener('DOMContentLoaded', function() {
    stock_chart = Highcharts.stockChart('container', {
        chart: {
           events: {
                load: requestDataStock
            }
        },

        title: {
            text: 'Realtime Stock Prices'
        },

        subtitle: {
            text: 'Stocks Included: Apple, Intuit, Facebook'
        },

        xAxis: {
            gapGridLineWidth: 0
        },

        rangeSelector: {
            buttons: [{
                type: 'hour',
                count: 1,
                text: '1h'
            },
            {
                type: 'day',
                count: 1,
                text: '1d'
            },
            {
                type: 'week',
                count: 1,
                text: '1w'
            },
            {
                type: 'all',
                text: 'all'
            }],
            selected: 0,
            inputEnabled: false
        },

        series: [{
            name: 'AAPL',
            type: 'spline',
            data: [],
            gapSize: 5,
            tooltip: {
                valueDecimals: 2
            },
        },
            {
            name: 'INTU',
            type: 'spline',
            data: [],
            gapSize: 5,
            tooltip: {
                valueDecimals: 2
            },
        },
            {
            name: 'FB',
            type: 'line',
            data: [],
            gapSize: 5,
            tooltip: {
                valueDecimals: 2
            },
            },
            //threshold: null
        ]
    });
    stock_chart.showLoading();
});


  </script>
          </div>


        </div>
      </div>

    <!-- </div> -->
    
    <footer class="mdl-mini-footer nl-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
<!--       <div class="logo2">Logo</div> -->
      &nbsp;
    </div>
  </div>
</footer>
    
  </main>
</div>
  <script src='https://code.getmdl.io/1.2.1/material.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

  

    <script  src="{% static "index.js" %}"></script>



</body>

</html>
