<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>System Monitor</title>
  
  
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<link rel='stylesheet prefetch' href='https://code.getmdl.io/1.2.1/material.blue-red.min.css'>
{% load static %}
      <link rel="stylesheet" href="{% static "/style.css" %}">
      <!-- <link rel="stylesheet" href="css/style.css"> -->

  
</head>

<body>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <!-- Header -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title logo1-container">
        <!-- <div class="logo1">Logo</div> -->
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We can hide it in small screens with .mdl-layout--large-screen-only -->
      <!-- <nav class="mdl-navigation mdl-layout--"> -->

        <!-- Add -->
        <div class="wrapper">
<!--           <button id="demo-menu-lower-right2" class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">add</i>
          </button> -->
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right2">
            <li class="mdl-menu__item">
              <!--               <i class="material-icons nl-icon">insert_chart</i>  -->
              Campaign
            </li>
            <li class="mdl-menu__item">
              <!--               <i class="material-icons nl-icon">person</i>  -->
              Account
            </li>
            <li class="mdl-menu__item">Publisher</li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <!-- Drawer -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
     HackerEarth Task
    </span>

    <nav class="mdl-navigation">
      <a href="/" class="mdl-navigation__link">Random Integers</a>
      <a href="/stocks" class="mdl-navigation__link">Stock Market</a>
      <a href="/system_info" class="mdl-navigation__link">CPU &amp; Memory Usage</a>
    </nav>
  </div>


  <main class="mdl-layout__content">
    <div class="page-content">

      <!-- TOP CONTAINER -->
      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">

        </div>
      </div>


      <!-- BOTTOM CONTAINER -->
      <div class="content-grid mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <div style="height: 500px;" class="mdl-shadow--2dp">
    <div id="container"></div>

              <script>

var chart;

function requestData() {
    $.ajax({
        url: '/system_info/get_system_info',
        success: function(point) {
            var series = chart.series[0],
                shift = series.data.length > 20; // shift if the series is 
                                                 // longer than 20

            // add the point
            chart.series[0].addPoint({"y": point["cpu"], "x": point["current_time"]}, true, shift);
            chart.series[1].addPoint({"y": point["memory"], "x": point["current_time"]}, true, shift);
            // call it again after one second
            setTimeout(requestData, 5000);    
        },
        cache: false
    });
}

document.addEventListener('DOMContentLoaded', function() {
    chart = Highcharts.chart('container', {
        chart: {
            type: 'spline',
            events: {
                load: requestData
            }
        },
        title: {
            text: 'Live System Info'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            minPadding: 0.2,
            maxPadding: 0.2,
            title: {
                text: 'Usage',
                margin: 80
            }
        },
            plotOptions: {
        spline: {
            dataLabels: {
                enabled: true
            },
            enableMouseTracking: false
        }
    },
        series: [{
            name: 'CPU',
            data: []
        },
        {
            name: 'Memory',
            data: []
        }]
    });        
});

  </script>
          </div>
        </div>
      </div>

    <!-- </div> -->
    
    <footer class="mdl-mini-footer nl-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
      &nbsp;
    </div>
  </div>
</footer>
    
  </main>
</div>
  <script src='https://code.getmdl.io/1.2.1/material.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

  
<script  src="{% static "/index.js" %}"></script>

</body>

</html>
