/* Overriding */
/* Main CSS */
.mdl-layout__header {
  background-color: black; /* black */
  background-color: #313742; /* dark */
  /* background-color: #545962;*/ /* mid */
  
}
.logo1-container{
  position: relative;
}

.logo1{
  background-color: rgba(0, 157, 217, 1);
  height: 48px;
  position: absolute;
  top: -27px; /* this is not ideal */
  left: 0;
  text-indent: -9999px;
  width: 38px;
  z-index: 9998123;
  margin-left:-8px;
}

.logo2{
  background-color: rgba(0, 157, 217, 1);
  height: 48px;
/*   position: absolute; */
/*   top: -27px; /* this is not ideal */ */
  left: 0;
  text-indent: -9999px;
  width: 38px;
  margin-top: -10px;
  margin-bottom: -10px;
}

@media (min-width: 1025px) {
  .logo1{
    height: 56px;
    top: -31px; /* this is not ideal */
    width: 44px;
  }
}
.wrapper {
  position: relative;
}
.background{
  background-color: #e7e7e7;
}
.nl-table{
  width: 100%;
}
.nl-table-container{
  overflow: auto;
  overflow-x: visible;
/*   height: auto; */
/*   min-height: 100%; */
}
.mdl-data-table__header--sorted-descending{
/*   border-bottom: 3px solid rgba(0, 157, 217, 1);
  color: rgba(0, 157, 217, 1) !important; */
}
#submenu{
  margin-top: 0;
  padding-top:0;
  display:none;
}
#submenu .mdl-navigation__link{
  padding-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nl-icon{
  vertical-align: middle;
  font-size: 1em;
}
.js-remove{
  display: none;
}
.mdl-menu__item a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}
.nl-user{
/*   color: white !important;  */
  color: rgba(0,0,0,.87) !important;
/*   background-color:  #666 !important; */
/*   background-color: rgba(0, 157, 217, 1) !important; */
  margin-top: -8px !important;
}
.page-content{
  background-color: #f1f1f1;
}
.mdl-shadow--2dp{
  background-color: white;
}
.mdl-navigation hr {
/*   margin-bottom:0; */
  padding: 0;
}
.nl-footer{
   background-color: #545962 !important; /* mid */
  /* background-color: #313742 !important; */ /* dark */
}

.highcharts-loading {
  opacity: 1!important;
}
.highcharts-loading-inner {
  display: block;
}

.highcharts-loading-inner,
.highcharts-loading-inner:before,
.highcharts-loading-inner:after {
  background: #dfdfdf;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.highcharts-loading-inner {
  color: #dfdfdf;
  text-indent: -9999em;
  margin: 0 auto;
  top: 50%!important;
  position: relative;
  font-size: 11px;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.highcharts-loading-inner:before,
.highcharts-loading-inner:after {
  position: absolute;
  top: 0;
  content: '';
}
.highcharts-loading-inner:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.highcharts-loading-inner:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
